<div class="footer">
    <div class="about">
        <div>
            <p>Privacy Policy</p>
        </div>
        <div>
            <p>Help Center</p>
        </div>
        <p>Terms of Use</p>
        <p>Report Ad</p>
    </div>
    <div class="title">
        <p>© THE QUEEN'S GAMBIT. ALL RIGHTS RESERVED.</p>
    </div>
</div>
</div>
</body>
</html>