<%- include("stylesheet"); -%>

<article class="form">
  <form action="/auth/login" method="post">
    <h3>Log In</h3>

    <div>
      <label for="username"></label>
      <input type="text" name="username" placeholder="Username" />
    </div>

    <div>
      <label for="password"></label>
      <input type="password" name="password" placeholder="Password" />
    </div>

    <input type="submit" value="Log In" />
  </form>
</article>
