<nav class="navbar">
  <ul class="navbar__left">
    <li>
      <a href="/">Home</a>
    </li>
  </ul>
  <ul class="navbar__right">
    <% if (!isAuthenticated) { %>
    <li>
      <a href="/users/register">Register</a>
    </li>
    <li>
      <a href="/users/login">Login</a>
    </li>
    <% } else { %>
    <li>
      <a href="/users/<%- user.username %>">Name</a>
      <ul>
        <li>
          <a href="/requests">Friend Requests</a>
        </li>
        <li>
          <a href="/users/logout">Logout</a>
        </li>
      </ul>
    </li>
    <% } %>
  </ul>
</nav>
