<nav class="navbar">
  <ul class="navbar__left">
    <li>
      <a href="/home">Home</a>
    </li>
  </ul>
  <ul class="navbar__right">
    <% if (!isAuthenticated) { %>
    <li>
      <a href="/auth/register">Register</a>
    </li>
    <li>
      <a href="/auth/login">Login</a>
    </li>
    <% } else { %>
    <li>
      <a href="/users/<%= user %>"> <%= firstname %> </a>
      <ul>
        <li>
          <a href="/requests">Friend Requests</a>
        </li>
        <li>
          <a href="/users/<%= user %>/profile-picture">Profile Picture</a>
        </li>
        <li>
          <a href="/auth/logout">Logout</a>
        </li>
      </ul>
    </li>
    <% } %>
  </ul>
</nav>
