<nav class="navbar">
  <ul class="navbar__left">
    <li>
      <a href="/">Home</a>
    </li>
  </ul>
  <ul class="navbar__right">
    <li>
      <a href="">Register</a>
    </li>
    <li>
      <a href="">Login</a>
    </li>
  </ul>
</nav>
