<%- include("header"); -%>

<div class="register__form">
  <form action="/register" method="post">
    <hh3>Register</hh3>
    <div>
      <label for="email"></label>
      <input type="email" placeholder="E-mail" />
    </div>

    <div>
      <label for="password"></label>
      <input type="password" placeholder="Password" />
    </div>

    <button type="submit">Submit</button>
  </form>
</div>

<%- include("footer"); -%>
