<%- include("stylesheet"); -%>

<article class="form">
  <form action="/auth/register" method="post">
    <h3>Register</h3>
    <div>
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" id="firstname" required />
    </div>

    <div>
      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" id="lastname" required />
    </div>

    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required />
    </div>

    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required />
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
    </div>

    <input class="register__btn" type="submit" value="Register" />
  </form>
</article>
