<div class="sidenav">
  <div class="avatar">
    <img src="/images/uploads/profilePicture-<%= user %>.png" alt="logo" />
  </div>
  <div class="full-name">
    <span> <%= firstname %> <%= lastname %> </span>
  </div>
  <div class="job-title">
    <span>Web Developer</span>
  </div>
</div>
