@charset "UTF-8";
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f3f3;
}

a {
  color: #00b7ff;
}

.wrapper {
  margin: 0 auto;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-gap: 10px;
  width: auto;
}

.wrapper > * {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.content {
  padding: 0 10px;
  width: 79.7872%;
}

.banner {
  width: 100%;
  height: 198px;
  background-color: black;
  margin-top: 10px;
}

.follow {
  text-align: right;
  margin-top: 5px;
}
.follow button {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 100px;
  color: #000;
  cursor: pointer;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  padding: 0px 20px;
}

.navbar {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-top: 1px solid #e57c23;
  grid-column: 1/-1;
  clear: both;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar ul li {
  float: left;
  position: relative;
  margin: 0 20px 0 0;
}

li > a:after {
  content: " »";
}

li > a:only-child:after {
  content: "";
}

.navbar ul li a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
}

.navbar ul li a:hover {
  opacity: 0.5;
}

.navbar ul li ul {
  display: none;
  position: absolute;
  left: 0;
}

ul li ul {
  background: white;
  border: 1px solid #d1d0d0;
  visibility: hidden;
  opacity: 0;
  width: 121%;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.form {
  border: 1px solid black;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  padding: 0 1rem;
  width: 780px;
}
.form form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form input[type=text],
.form input[type=password],
.form input[type=email],
.form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form input[type=submit],
.form a {
  width: 100%;
  background-color: #00b7ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form input[type=submit]:hover {
  background-color: #04acee;
}
.form .register__btn {
  background-color: #4caf50 !important;
}

.main__home form {
  background-color: #fff;
  border: 1px solid #d1d0d0;
  border-radius: 5px;
  padding: 20px;
}
.main__home textarea {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 16px;
  resize: none;
}
.main__home .post-btn {
  background-color: #4681f4;
  border: 1px solid #d4d4d4;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  padding: 0px 15px;
}
.main__home .submit_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__home .submit_area p {
  color: #69676d;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-right: 50px;
}
.main__home .submit_area div {
  display: flex;
  flex-direction: row;
}

.status {
  border: 1px solid #d1d0d0;
  background-color: #fff;
  padding: 5px;
  margin-top: 10px;
  display: flex;
}
.status .container {
  padding-left: 10px;
  padding-bottom: 10px;
}
.status .status__name {
  font: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.status .status__name a {
  text-decoration: none;
  color: #050505;
}
.status span {
  color: #69676d;
}
.status .status-img {
  width: 50px;
  height: 50px;
}
.status .like-btn {
  text-align: left;
  border: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.status .like-btn span {
  cursor: pointer;
  margin: 0;
  font-size: 16px;
  padding: 5px 0;
}
.status .like-btn span:hover {
  color: #00b7ff;
}
.status p {
  font-family: "Roboto", sans-serif;
}
.status img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 12px;
  object-fit: contain;
}

.sidenav {
  background-color: #fff;
  border: 1px solid #d1d0d0;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  height: 300px;
  max-width: 225px;
  align-items: center;
}
.sidenav .avatar img {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.sidenav .full-name,
.sidenav .job-title {
  margin: 5px 0;
  color: #050505;
  font: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.sidenav .job-title {
  font-weight: 500;
}
.sidenav .bottom-nav {
  margin-top: 20px;
  display: block;
  padding: 0.4rem 1.2rem;
}
.sidenav .bottom-nav div {
  margin: 8px 0;
  text-align: center;
}
.sidenav .bottom-nav .log-out {
  margin-top: 50px;
}

.requests {
  display: flex;
}
.requests li {
  list-style-type: none;
}
.requests button {
  border: 1px solid #d4d4d4;
  border-radius: 100px;
  color: #000;
  cursor: pointer;
  font-family: "Segoe UI";
  font-size: 16px;
  min-height: 35px;
  padding: 0px 15px;
}
.requests .accept {
  background-color: #4681f4;
}

.friends__content {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.friends__content .friends {
  display: flex;
  align-items: center;
  border: 1px solid #d1d0d0;
  background-color: #fff;
  padding: 5px;
  width: 80%;
}
.friends__content .friends .friends__name {
  font: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.friends__content .friends .friends__name a {
  color: #050505;
  padding-left: 10px;
  text-decoration: none;
}
.friends__content .friends img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 12px;
  object-fit: contain;
}

.footer {
  grid-column: 1/-1;
  clear: both;
}
.footer p {
  padding-left: 10px;
}
.footer .about {
  display: flex;
}

@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
