body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f3f3;
}

a {
  color: #00b7ff;
}

.wrapper {
  max-width: 1040px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
}

.wrapper > * {
  border-radius: 5px;
  padding: 20px;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

.content {
  float: right;
  padding: 0 10px;
  width: 79.7872%;
}

.banner {
  width: 100%;
  height: 198px;
  background-color: black;
  margin-top: 10px;
}

.follow {
  text-align: right;
  margin-top: 5px;
}
.follow button {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 100px;
  color: #000;
  cursor: pointer;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  padding: 0px 20px;
}

.navbar {
  grid-column: 1/-1;
  clear: both;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  padding: 0;
}
.navbar li {
  margin: 0 1em;
  list-style-type: none;
}
.navbar a {
  text-decoration: none;
}

.form {
  border: 1px solid black;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  padding: 0 1rem;
  width: 780px;
}
.form form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form input[type=text],
.form input[type=password],
.form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form input[type=submit],
.form a {
  width: 100%;
  background-color: #00b7ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form input[type=submit]:hover {
  background-color: #04acee;
}
.form .register__btn {
  background-color: #4caf50 !important;
}

.main__home form {
  background-color: #fff;
  border: 1px solid #d1d0d0;
  border-radius: 5px;
  padding: 20px;
}
.main__home textarea {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 16px;
  resize: none;
}
.main__home button {
  background-color: #008cba;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
}
.main__home .submit_area {
  display: flex;
  flex-direction: row;
}
.main__home .submit_area p {
  padding-right: 50px;
}

.status {
  border: 1px solid #d1d0d0;
  background-color: #fff;
  padding: 5px;
  margin-top: 10px;
}
.status .status__name {
  color: #050505;
  font: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.status span {
  color: #69676d;
}
.status button {
  text-align: left;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  width: auto;
}
.status button:hover {
  color: #ef0107;
}
.status p {
  font-family: "Roboto", sans-serif;
}

.sidenav {
  background-color: #fff;
  border: 1px solid #d1d0d0;
  float: left;
  height: 350px;
  width: 15%;
}

.footer {
  grid-column: 1/-1;
  clear: both;
  border: 1px solid #d1d0d0;
}

@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
