body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

nav {
  ul {
    border: 1px solid black;
  }

  li {
    color: red;
  }
}

.hi {
  color: yellow;
}
